body {
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(160deg, black, grey);
  background-size: cover;
  flex-wrap: wrap;
  cursor: var(--cursor-default) !important;
}

a {
  color: white;
}

a:hover {
  color: silver;
}

a, button {
  cursor: var(--cursor-pointer) !important;
}

input {
  cursor: var(--cursor-text) !important;
}

#navbar {
  z-index: 1030;
}

#navbar-pad {
  padding: 28px;
}

.accordion-item {
  background-color: rgba(0, 0, 0, 0.2);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.btn-close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !important;
}

.card {
  opacity: 0.9;
}

.card-hover:hover {
  opacity: 1.0;
}

.apps .card-title {
  margin-bottom: 0;
}

.card-rooms {
  width: 800px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.calendar-badge {
  max-height: 18px;
}

#rooms .card-title {
  min-height: 1.6rem;
}

#rooms .card-body {
  min-height: 140px;
  max-height: 140px;
  overflow: auto;
}

#map {
  max-width: 600px;
  background-color: whitesmoke;
}

.fc-event {
  cursor: pointer;
}

.fc-toolbar-title {
  font-size: 1.25rem !important;
}

.fc-daygrid-event {
  font-size: 0.75rem;
  margin-top: 2px !important;
}

.fc-daygrid-event.tentative {
  opacity: 0.5;
}

.fc-daygrid-event.cancelled .fc-event-title {
  text-decoration: line-through !important;
}

.fc-event-title {
  white-space: normal;
  max-height: 54px;
}

.fc-day-today {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.fc-daygrid-day-events {
  margin-bottom: 4px !important;
}

.fc-daygrid-day-number {
  padding-top: 0 !important;
  padding-bottom: 0 !important ;
}

.fc-header-toolbar {
  margin-bottom: 12px !important;
}

.fc-footer-toolbar {
  margin-top: 12px !important;
}

.fc-list-day > th {
  background: rgba(255, 255, 255, 0.1) !important;
}

.fc-list-event {
  --fc-list-event-hover-bg-color: rgba(0, 0, 0, 0.5);
}

.fc-list-day-cushion {
  background: transparent;
}

.container-calendar .btn {
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem
}

#calendar-table td {
  border-bottom-width: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#accordion-calendar-settings .accordion-item {
  max-width: 480px;
}

#modalShare {
  font-size: 1.25rem;
}

#modalBody {
  max-height: 400px;
}

#modalBody p {
  white-space: pre-line;
  overflow-wrap: break-word;
}

.modal-dialog {
  max-width: 640px;
}

.map-pin {
  font-size: 1.5rem;
}

.btn-xs {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

#charlotte {
  opacity: 0;
}

#charlotte:hover {
  opacity: 1;
}
