<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

{{ $favicon := resources.Get "/img/favicon.svg" }}
<link rel="icon" href="{{ $favicon.RelPermalink }}" type="image/svg">

{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . }}

{{ range .Params.css -}}
  {{- if eq (substr .url 0 8) "https://" -}}
    {{- $css := resources.GetRemote .url -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" {{- if isset . "fingerprint" -}} integrity="{{ .fingerprint }}" {{- end }}>
  {{- else -}}
    {{- $css := resources.Get .url | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ end }}
{{ end -}}
