{{ define "main" }}

<div class="modal" id="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 id="modalTitle" class="modal-title">Event Title</h5>
        <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div id="modalBody" class="modal-body text-start overflow-auto">
      </div>
      <div id="modalFooter" class="modal-footer">
        <span id="modalFooterBadge" class="badge">&nbsp;</span>
        <span id="modalFooterText"></span>
      </div>
    </div>
  </div>
</div>

<div id="accordion" class="container accordion px-1">
  <div class="accordion-item my-3 rounded">
    <h2 class="accordion-header">
      <button class="accordion-button bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-about">
        <h5 class="w-100 text-center text-white">
          Wo bin ich hier?
        </h5>
      </button>
    </h2>
    <div id="accordion-about" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body text-center">
        {{ .Site.Title }} ist eine offene Plattform zur Information und Organisation von BDSM-Veranstaltungen.
        <br><br>
        Hier kannst du im Kalender nach Events in deiner Gegend suchen, an Online-Konferenzen teilnehmen, dich im Chat mit anderen Mitgliedern der Community austauschen, oder auch eigene Events organisieren und darüber informieren. Dafür bieten wir Tools wie Cloud-Speicher, Event-Ticketsystem und Online-Kollaborationssoftware an.
        <br><br>
        Diese Seite befindet sich noch in der Entwicklungsphase.
        <br><br>
        <a href="https://github.com/devium/kink" class="text-white"><span class="bi bi-github h6 text-white px-1"></span>Quellcode (Cluster)</a>
        <a href="https://github.com/devium/autsch-home" class="text-white"><span class="bi bi-github h6 text-white px-1"></span>Quellcode (Homepage)</a>
      </div>
    </div>
  </div>

  <div class="accordion-item my-3 rounded">
    <h2 class="accordion-header">
      <button class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-calendar">
        <h5 class="w-100 text-center text-white">
          Kalender
        </h5>
      </button>
    </h2>
    <div id="accordion-calendar" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body px-1 px-md-4 text-center"> 
        <div id="calendar-spinner" class="spinner-border" role="status">
        </div>

        <div id="fullcalendar" class="my-2">
        </div>

        <div class="calendar-fluff d-none text-center py-2">
          Im Folgenden kannst du einzelne Kalender ein- und ausblenden, oder sie in deine eigene Kalender-App einbinden.
          <br><br>
          Zum Einbinden, klicke auf das Icon unter <b>iCal-Link kopieren</b> und folge dann der Anleitung deiner Kalender-App, beispielsweise <a href="https://support.google.com/calendar/answer/37100" target="_blank">Google Calendar</a> oder der <a href="https://support.apple.com/guide/iphone/use-multiple-calendars-iph3d1110d4" target="_blank">iPhone Kalender-App</a>.
        </div>
        <div class="calendar-fluff d-none">
          <table class="table align-middle text-white">
            <thead>
              <tr>
                <th class="text-start"></th>
                <th class="text-center">iCal-Link kopieren</th>
              </tr>
            </thead>

            <tbody>
              {{ range (where .Site.Data.calendars "location" "global") }}
              <tr>
                <td class="text-start">
                  <input class="form-check-input calendar-checkbox" type="checkbox" value="" id="checkbox-{{ .id }}" calendar="{{ .id }}" {{ if .checked -}} checked {{- end }}>
                  <span id="color-{{ .id }}" class="badge">&nbsp;</span>
                  <label id="name-{{ .id }}" class="form-check-label user-select-none" for="checkbox-{{ .id }}">
                  </label>
                </td>

                <td class="text-center text-white">
                  <button id="copy-ical-{{ .id }}" class="btn btn-xs copy-ical" role="button" calendar="{{ .id }}">
                    <span id="copy-ical-icon-{{ .id }}" class="bi bi-clipboard-plus text-white"></span>
                  </button>
                </td>
              </tr>
              {{ end }}
            </tbody>
          </table>

          <h5 class="text-white text-center">Regionale Kalender:</h5>
          <div class="text-center pb-2">
            Klicke auf die Städte, um regionale Kalender ein- oder auszublenden.
          </div>
          <div id="map-container" class="container p-0 position-relative text-center">
            {{ $img := resources.Get "/img/d-a-ch-map.svg" }}
            <img id="map" src="{{ $img.RelPermalink }}" class="rounded" width="100%">
            {{ range .Site.Data.locations }}
            {{ if .loc }}
            <a id="location-{{ .id }}" location="{{ .id }}" class="map-pin position-absolute m-0" type="button" data-bs-toggle="modal" data-bs-target="#modal");>
              <span class="bi bi-geo-alt-fill" data-bs-toggle="tooltip" data-bs-placement="left" title="{{ .name }}"></span>
            </a>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item my-3 rounded">
    <h2 class="accordion-header">
      <button class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-jitsi">
        <h5 class="w-100 text-center text-white">
          Jitsi-Raumübersicht
          <span id="numRooms">(0)</span>
        </h5>
      </button>
    </h2>
    <div id="accordion-jitsi" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div id="rooms" class="accordion-body row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
        <div class="col">
          <div class="text-dark d-block card">
            <div class="card-header text-center">
              <h5 class="card-title">
                Neuer Raum 
                <span id="notification-request" class="cursor-pointer bi bi-bell"/>
              </h5>
            </div>
            <div class="card-body">
              <div class="input-group my-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Räume, die mit _ beginnen, werden nicht gelistet.">
                <input id="roomname" class="form-control" type="text" placeholder="Name">
                <button id="openroom" type="button" class="btn btn-outline-dark">
                  Eröffnen
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ range .Site.Data.links }}
  <div class="accordion-item apps my-3 rounded">
    <h2 class="accordion-header">
      <button class="accordion-button bg-transparent {{ if not .show -}} collapsed {{- end }}" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ .id }}">
        <h5 class="w-100 text-center text-white">
          {{ .title }}
          {{ if .info }}
          <span class="cursor-pointer bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ replace .info "DOMAIN" $.Site.Params.baseDomain }}"/>
          {{ end }}
        </h5>
      </button>
    </h2>
    <div id="accordion-{{ .id }}" class="accordion-collapse collapse {{ if .show -}} show {{- end }}" data-bs-parent="#accordion">
      <div class="accordion-body text-center">
        {{ .body | safeHTML }}
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3 p-3 justify-content-center p-0">
          {{ range .links }}
          <div class="col">
            <a href="{{ replace .url "DOMAIN" $.Site.Params.baseDomain }}" {{- if not .sameTab }} target="_blank" {{ end -}} class="text-decoration-none text-dark text-center d-block card card-hover h-100">
              <div class="card-body">
                {{ $img := resources.Get (path.Join "/img/" .icon) }}
                <img src="{{ $img.RelPermalink }}" class="card-icon mx-auto mb-2 rounded" width="48px">
                <h6 class="card-title">
                  {{ .title | safeHTML }}
                </h6>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}
