{{ define "main" }}

<div class="container">
  <h1 class="text-white">{{ .Site.Title }}</h1>
</div>

<div class="container my-3">
  <h2 id="roomsHeading" class="text-white d-inline-block">
    Jitsi-Raumübersicht
  </h2>
  <div class="dropdown d-inline-block h2">
    <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown"></button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#" onclick="requestNotificationPermission()">Aktiviere Raumbenachrichtungen</a></li>
    </ul>
  </div>
  <div id="rooms" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center text-start">
    <div class="col">
      <div class="text-dark d-block card">
        <div class="card-header text-center">
          <h5 class="card-title">Neuer Raum</h5>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <input id="roomname" class="form-control" type="text" placeholder="Raum">
            <button type="button" class="btn btn-outline-secondary" onclick="window.open('https://{{ $.Site.Params.subdomains.jitsiKeycloak }}.{{ $.Site.Params.baseDomain }}/' + $('#roomname').val(), '_blank')">
              Eröffnen
            </button>
          </div>
          <p class="card-text text-start">Räume, die mit _ beginnen, werden nicht gelistet.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <h2 class="text-white">Apps</h2>
  <div class="row row-cols-2 row-cols-md-3 g-4 justify-content-center">
    {{ range .Site.Data.links.items }}
    <div class="col">
      {{ $url := printf "https://%s.%s/%s" .subDomain $.Site.Params.baseDomain .uri }}
      <a href="{{ $url }}" target="_blank" class="text-decoration-none text-dark d-block card card-hover cursorPointer h-100">
        <div class="card-body">
          {{ $img := resources.Get (path.Join "/img/" .icon) }}
          <img src="{{ $img.RelPermalink }}" class="card-icon mx-auto mb-2" width="56px">
          <h5 class="card-title">
            {{ .title | safeHTML }}
          </h5>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
