{{ .Site.Title }} ist eine offene Plattform zur Information und Organisation von BDSM-Veranstaltungen.
<br><br>
Hier kannst du im Kalender nach Events in deiner Gegend suchen, an Online-Konferenzen teilnehmen, dich im Chat mit anderen Mitgliedern der Community austauschen, oder auch eigene Events organisieren und darüber informieren. Dafür bieten wir Tools wie Cloud-Speicher, Event-Ticketsystem und Online-Kollaborationssoftware an.
<br><br>
Diese Seite befindet sich noch in der Entwicklungsphase.
<br><br>

<div class="row justify-content-center">
  <div class="col-12 col-sm-auto p-0">
    <a href="https://github.com/devium/kink"><span class="bi bi-github h6 px-1"></span>Quellcode (Cluster)</a>
  </div>
  <div class="col-12 col-sm-auto p-0 d-none d-sm-inline-block">
    <button id="charlotte" type="button" class="btn p-0 mb-2">
      {{ $img := resources.Get "/img/charlotte.gif" }}
      <img src="{{ $img.RelPermalink }}">
    </button>
  </div>
  <div class="col-12 col-sm-auto p-0">
    <a href="https://github.com/devium/autsch-home"><span class="bi bi-github h6 px-1"></span>Quellcode (Homepage)</a>
  </div>
</div>
