<div class="container-fluid text-center">
  <div id="calendar-spinner" class="spinner-border" role="status">
  </div>
</div>

<div id="calendar-suggestion" class="calendar-fluff d-none my-2 text-end">
  <a href="https://{{ $.Site.Params.baseDomain }}/vorschlagen" class="btn btn-dark">Vorschlag einreichen <i class="bi bi-box-arrow-up-right"></i></a>
</div>

<div id="fullcalendar" class="my-2">
</div>

<div id="calendar-settings" class="m-auto calendar-fluff d-none">
  <table id="calendar-table" class="table align-middle text-white">
    <thead>
      <tr>
        <th>Anzeigen</th>
        <th class="text-center">iCal</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>

  <div class="text-center py-2">
    Hier kannst du einzelne Kalender ein- und ausblenden, oder sie in deine eigene Kalender-App einbinden.
    <br><br>
    Zum Einbinden, klicke auf das Icon unter <b>iCal</b>, um den Abonnement-Link zu kopieren. Folge dann der Anleitung deiner Kalender-App, beispielsweise <a href="https://support.google.com/calendar/answer/37100" target="_blank">Google Calendar</a> oder der <a href="https://support.apple.com/guide/iphone/use-multiple-calendars-iph3d1110d4" target="_blank">iPhone Kalender-App</a>.
  </div>
</div>
