{{ define "head" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{{ end }}

{{ define "main" }}

<div class="modal" id="eventModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalTitle" class="modal-title">Event Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div id="modalBody" class="modal-body text-start">
      </div>
    </div>
  </div>
</div>

<div class="container bg-light rounded p-2">
  <ul class="nav nav-tabs" role="tablist">
    {{ range $index, $item := .Site.Data.calendars.items }}
    <li class="nav-item" role="presentation">
      <button class="nav-link {{ if eq $index 0 }} active {{ end }}" data-bs-toggle="tab" type=button role="tab" onclick="renderCalendar('{{ .id }}')">
        {{ .name | safeHTML }}
      </button>
    </li>
    {{ end }}
  </ul>
  <div id='calendar' class=my-2>
  </div>
  <a id='nextcloud' target="_blank" class="btn btn-primary m-1">In Nextcloud öffnen</a>
  <button id='copyUrl' class="btn btn-primary m-1" role="button")>
    iCalendar URL kopieren
  </button>
</div>

{{ end }}

{{ define "js" }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"> </script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js" integrity="sha256-XCdgoNaBjzkUaEJiauEq+85q/xi/2D4NcB3ZHwAapoM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.5.0/ical.min.js" integrity="sha512-0izBc1upGYnrS1u1MX7QR+sjFIxZWxLVdNI7cUoHHCutDr5ENjuQRZuS+v+3NFNGfwHSrPoHzBzED0rV651tGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@5.11.0/main.global.min.js" integrity="sha256-ntXRERg+VVCcjXguw81eZystarWC9Tqx3mlgtLNgYVk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locales-all.min.js" integrity="sha256-GcByKJnun2NoPMzoBsuCb4O2MKiqJZLlHTw3PJeqSkI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/linkifyjs@3.0.5/dist/linkify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkify-jquery@3.0.4/dist/linkify-jquery.min.js" integrity="sha256-uc66MYQfuzCk9FXabhgiV7PmXevUgraoxslXewknZ6U=" crossorigin="anonymous"></script>

<script>
  function renderCalendar(id) {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      themeSystem: 'bootstrap5',
      locale: 'de',
      initialView: 'dayGridMonth',
      events: {
        url: "https://next.{{ $.Site.Params.baseDomain }}/remote.php/dav/public-calendars/" + id + "?export",
        format: "ics"
      },
      contentHeight: 600,
      headerToolbar: {
        left: 'title',
        center: '',
        right: 'prev,next,today'
      },
      footerToolbar: {
        center: 'dayGridMonth,listMonth'
      },
      eventClick: function(eventClickInfo) {
        $('#modalTitle').text(eventClickInfo.event._def.title);

        var body = $('#modalBody');
        body.empty();
        var props = eventClickInfo.event._def.extendedProps;

        if (eventClickInfo.event.start !== null) {
          body.append($('<h6>').text("Beginn:"));
          const weekday = eventClickInfo.event.start.toLocaleString([], { weekday: 'short' });
          const date = eventClickInfo.event.start.toLocaleString([], { dateStyle: 'medium', timeStyle: 'short' });
          body.append($('<p>').text(weekday + ', ' + date));
        }
        if (eventClickInfo.event.end !== null) {
          body.append($('<h6>').text("Ende:"));
          const weekday = eventClickInfo.event.end.toLocaleString([], { weekday: 'short' });
          const date = eventClickInfo.event.end.toLocaleString([], { dateStyle: 'medium', timeStyle: 'short' });
          body.append($('<p>').text(weekday + ', ' + date));
        }

        if (props.description !== null) {
          body.append($('<h6>').text("Beschreibung:"));
          body.append($('<p>').text(props.description)).linkify();
        }
        if (props.location !== null) {
          body.append($('<h6>').text("Ort:"));
          body.append($('<p>').text(props.location)).linkify();
        }
      },
      eventDidMount: function(arg) {
        $(arg.el)
          .attr('data-bs-toggle', 'modal')
          .attr('data-bs-target', '#eventModal');
      },
      displayEventTime: false,
      eventDisplay: 'block'
    });
    calendar.render();

    $('#copyUrl').click(function () {
      navigator.clipboard.writeText('webcal://next.{{ $.Site.Params.baseDomain }}/remote.php/dav/public-calendars/' + id + '/?export');
    });
    $('#nextcloud').attr('href', 'https://next.{{ $.Site.Params.baseDomain }}/apps/calendar/p/' + id);
  }

  document.addEventListener('DOMContentLoaded', function() {
    renderCalendar({{ (index .Site.Data.calendars.items 0).id }})
  });
</script>
{{ end }}
