{{ define "main" }}

<div class="modal" id="eventModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalTitle" class="modal-title">Event Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div id="modalBody" class="modal-body text-start">
      </div>
      <div id="modalFooter" class="modal-footer">
        <span id="modalFooterBadge" class="badge">&nbsp;</span>
        <span id="modalFooterText"></span>
      </div>
    </div>
  </div>
</div>

<div class="container container-calendar bg-light rounded p-2 my-sm-2">
  <div id="calendars-dropdown" class="dropdown text-start">
    <button class="btn btn-primary dropdown-toggle mt-1" type="button" data-bs-toggle="dropdown">
      Kalender
    </button>
    <ul class="dropdown-menu dropdown-menu-form">
      <table class="table align-middle">
        <thead>
          <tr>
            <th>
              <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
              <label class="form-check-label" for="checkbox-all">
                Alle / Keine
              </label>
            </th>
            <th>In Nextcloud öffnen</th>
            <th>iCal-Link kopieren</th>
          </tr>
        </thead>

        <tbody>
          {{ range .Site.Data.calendars.items }}
          <tr>
            <td>
              <input class="form-check-input calendar-checkbox" type="checkbox" value="" id="{{ .id }}" {{ if .checked -}} checked {{- end }}>
              <span id="color-{{ .id }}" class="badge" style="background-color: {{ .color }}">&nbsp;</span>
              <label class="form-check-label user-select-none" for="{{ .id }}">
                {{ .name }}
              </label>
            </td>

            <td class="text-center">
              <a href="https://next.{{ $.Site.Params.baseDomain }}/apps/calendar/p/{{ .id }}" target="_blank" class="btn btn-xs"><span class="bi bi-box-arrow-up-right"></span></a>
            </td>

            <td class="text-center">
              <button id="copy-ical-{{ .id }}" class="btn btn-xs copy-ical" role="button">
                <span id="copy-ical-icon-{{ .id }}" class="bi bi-clipboard-plus"></span>
              </button>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </ul>

    <a href="https://next.{{ $.Site.Params.baseDomain }}/apps/calendar" target="_blank" class="btn btn-primary mt-1">
      Eventvorschlag einreichen<span class="px-2 bi bi-box-arrow-up-right"></span>
    </a>
  </div>

  <div id='calendar' class="my-2">
  </div>
</div>

{{ end }}
